*{
    box-sizing: border-box;
}

html{
    color: $color__black;
    background-color: $color__white;
    height: 100%;
    background: url(../imgs/backgrounds/home2.jpg) no-repeat center center fixed; 
    background-size: cover;
}

html,
body{
    width: 100%;
    height: 100%;
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: 0.5s;
}

%wrapper{
    max-width: map-get($breakpoints, medium);
    width: 100%;
    margin: auto;
    padding: 0 $ratio#{em};
}

.wrapper{
    @extend %wrapper;
    text-align: center;
}

.hide{
    display: none;
}